:root {
  --color-red: #EF3122;
  --color-green: #23B24B;
  --color-yellow: #FEC210;
  --color-blue: #00B8B9;
  --color-white: #fff;
  --color-black: #110A0C;

  background-color: var(--color-red);
  color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 16px;
  font-family: 'Dosis', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  overflow-x: hidden;
}

#app {
  align-items:center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
